<table border="0" cellspacing="5" cellpadding="5">
  <tbody>
    <% @apps.each do |app| %>
        <tr>
            <td><img src="<%= app.icon_url %>" width=57 /></td>
            <td><%= app.name %></td>
            <td><%= app.filename %></td>
            <td><a href="<%= app.install_url %>"><%= app.install_url %></a></td>
            <td><a href="<%= app.manifest_url %>"><%= app.manifest_url %></a></td>
            
        </tr>
    <% end %>

</tbody>
</table>